.banner {
    position: relative;
    height: 550px;
    overflow: hidden;
}

.sbanner img, .banner img{
    filter: contrast(1.5) brightness(0.45);
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 150px;
}

.banner img{
    min-height: 550px;
}


.sbanner {
    position: relative;
    height: 150px;
    overflow: hidden;
    margin: 30px 10px;
}


 .banner h2, .sbanner h2 {
    position: sticky;
    display: inline;

    bottom: 20px;
    margin: auto;
    padding: 5px 15px;
    margin-bottom: 2%;
    background: rgb(23, 34, 26); 

}


.banner p,  .sbanner p {
    display: inline;
    margin: auto;
    padding: 5px 15px;
        display: inline;
        margin: auto;
        padding: 5px 15px;
        text-shadow: 0 0 25px black;
 


}



.sbanner .text {
    text-align: center;
    position: absolute;
    display: block;
    bottom: 0;
    top: 8%;
    left: 0;
    right: 0; 
    padding: 5px 15px;
    text-shadow: 0 0 25px black;
    height: min-content;

}

.sbanner .text2{
    text-align: center;
    position: absolute;
    display: block;
    bottom: 2%;
    left: 0;
    right: 0; 
    padding: 5px 15px;
    text-shadow: 0 0 25px black;
    height: min-content;
}



.sbanner::after {
    content: "";
    clear: both;
    display: table;
  }

@media (max-width: 600px) {

    .banner {
        height: 350px;
    }
    .banner img{
    
        width: 100%;
        min-height: 350px;
    }

    .sbanner {
        height: 250px;
    }
    /* .sbanner img{
    
        width: 100%;
        min-height: 350px;
    } */
 }