.coc {
    transition: 2s;
}

.coclist {
    width: 100%;
    text-align: left;

}

.coclist .section {
    margin: 20px;
    padding: 10px;

}

.head h3 {
    display: inline;

}

.head svg{
    float: right;
    position: relative;
    top: 3px;

}


.section .head {
    background-color: rgb(12, 43, 48);
    padding: 1px 20px;

}


.section .active {
    background-color: rgb(19, 97, 109);

}

.section p{
    margin: 10px;
    padding: 10px;
    font-weight: 900;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}