.competion {
    text-align: left;
}


.regions {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
}

.regions a {
    margin: 10px;
}