.a, .a2 {
    width: fit-content;
    background: rgb(85, 70, 70);
    display: flex;    
    padding: 3px 90px 3px 10px;

}


.main, .main2 {
    display: flex;
}

.logo, .logo2 {
    width: 50px;
    height: 50px;
    justify-content: left;
    text-align: left;
    margin: auto 20px auto 10px;

    
}

.logo img, .logo2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.name, .name2 {
    display: inline;
    justify-content: center;
    margin: auto 10px;
}


.name h2, .name2 h2 {
    margin: 0;
}


.a2 {
    width: 90%;
    padding: 10px 0px 10px 10px;
}


@media (max-width: 650px) {
    
.a2 {
    padding: 5px ;
    text-align: center;


}

.main2 {
    display: block;
    margin: auto;
}

.logo2 {
    width: 100px;
    height: 100px;
    margin: auto;
}

.name2 {
    margin: auto;
}

.name2 h3 {
    display: none;
}



 }



 @media (max-width: 450px) {




 }
