
.right h1{
    text-align: center;
    margin-bottom: 0;
    font-size: xx-large;
}
 
 .profile {
    text-align: left;
}


.section {
    display: grid;
    grid-template-columns: auto 60%;
}

#info {display: block;}
#order {display: none;}
#wishlist {display: none; text-align: left;}



.left button {
    padding: 10px;
    margin: 2%;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: #B8FFD0;
    width: auto;
}


.active button {
    margin: auto 2%;
    border: 1px #2DF064 solid;
    border-radius: 7px;
    padding: 5px;

}

/* pc */

.imgD img {
    width: 200px;
    height: 200px;    
    border-radius: 150px;
}

.imgD {
    margin: 3%;
    text-align: center;

}


.details, .quan, .others {
    margin: 4%
}

.cartB {
    width: 100%;
    margin: 10% 2%;
    box-shadow: 2px 11px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 53px; 
    border: 2px #00FF94 solid; 
}

.tabs {
    text-align: left;
}

.tabs * {
    display: block;
}



.other {
    text-align: left;
}

label {
    margin: auto 4%;
}

.other input , .name input{
    font-size: large;
    text-align: left;
    width: 100%;
    margin: 3%;
    padding: 0 2%;
    border-radius: 11px;
}
#password {
    display: none;
}

 .contact {
    display: flex;
    text-align: left;
    margin: 2%;
  
}

 .contact input {
    margin: 3%;
    font-size: large;
    border-radius: 11px;
    padding: 0 5%;
}

 .contact div {
    padding-right: 7%;
}


input::placeholder {
    color: #5d6960;
    padding: 6px;
}

input:disabled {
    color: #ffffff;
    background-color: #075f3a;
}


#save {display: none;}
#edit {display: block; background-color: rgb(3, 102, 64);}
#edit:hover {
    background-color: #5d6960;
}

/* logout */

#logout button{
    color: rgb(255, 0, 0);
    


}

#logout2 {
    background-color: red;
    display: none;
    margin: auto;
}

#logout2 button{
    background-color: rgb(99, 13, 13);
    color: aliceblue;
    border: 2px red solid;

}


/* mobile */

@media (max-width: 600px) {
    .other input {
        font-size: medium;
        width: 100%;
        border-radius: 11px;

    }

    #logout2{
        display: contents;
    }
    
    .name, .contact {
        display: block;
        text-align: left;
        margin: 0;
       
      
    }
    
    .name input, .contact input {
        font-size: medium;
        border-radius: 11px;
        
    
    }
    
    .name div, .contact div {
       
    }
    











    .tabs div {
     display: none;
    }
    #info {display: block;}
    #order {display: block;}
    #wishlist {display: block;}

 
 .imgD img{

}

    .section {
        display: block;
    }
 }


 /* others */

 .others h3 {
    margin-bottom: 0;
 }

 .card {
    display: inline-grid;
    padding:  3%;
    margin: 2% auto auto;
 }











 /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */




















.left button {
    padding: 10px;
    margin: 2%;
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: #B8FFD0;
    width: auto;
}


.active button {
    margin: auto 2%;
    border: 1px #2DF064 solid;
    border-radius: 7px;
    padding: 5px;

}

.add {
    width: 100%;
    display: block;
    position: relative;
    right: 50px;
   
}

.add a {
    display: block;
}

/* pc */

.imgD img {
    width: 200px;
    height: 200px;    
    border-radius: 150px;
}

.imgD {
    margin: 3%;
    text-align: center;

}


.details, .quan, .others {
    margin: 4%
}

.cartB {
    width: 100%;
    margin: 10% 2%;
    box-shadow: 2px 11px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 53px; 
    border: 2px #00FF94 solid; 
}

.tabs {
    text-align: left;
}

.tabs * {
    display: block;
}



.other {
    text-align: left;
}

label {
    margin: auto 4%;
}


.contact {
    display: flex;
    text-align: left;
    margin: 2%;
  
}

 .contact input {
    margin: 3%;
    font-size: large;
    border-radius: 11px;

}

 .contact div {
    padding-right: 7%;
}


input::placeholder {
    color: #5d6960;
    padding: 6px;
}


.search * {
    display: inline-block;
    font-size: large;
    text-align: center;
    border-radius: 12px;
}

.search {
    text-align: center;
}

.search button {
    background-color: #5d6960;
}



.Order_link__xw56k {
    display: none;
}




.other {
    text-align: left;
}

label {
    margin: auto 4%;
}

.other input , .name input{
    font-size: large;
    text-align: left;
    width: 100%;
    margin: 3%;
    padding: 0 2%;
    border-radius: 11px;
}

#password {
    display: none;
}

 .contact {
    display: flex;
    text-align: left;
    margin: 2%;
  
}

 .contact input {
    margin: 3%;
    font-size: large;
    border-radius: 11px;
    padding: 0 5%;
}

 .contact div {
    padding-right: 7%;
}


input::placeholder {
    color: #5d6960;
    padding: 6px;
}



input:disabled {
    color: #ffffff;
    background-color: #075f3a;
}

#save {display: none;}
#edit {display: block; background-color: rgb(3, 102, 64);}
#edit:hover {
    background-color: #5d6960;
}

/* logout */

#logout button{
    color: rgb(255, 0, 0);
    


}

#logout2 {
    background-color: red;
    display: none;
    margin: auto;
}

#logout2 button{
    background-color: rgb(99, 13, 13);
    color: aliceblue;
    border: 2px red solid;

}


/* mobile */

@media (max-width: 600px) {
    .other input {
        font-size: medium;
        width: 100%;
        border-radius: 11px;

    }
    
    .name, .contact {
        display: block;
        text-align: left;
        margin: 0;
       
      
    }
        
  
    
    
    #info {display: block;}
    #order {display: block;}
    #tea {display: block; text-align: left;}
    #admin {display: block; text-align: left;}
    #user {display: block; text-align: left;}
    #banner {display: block; text-align: left;}
    #category {display: block; text-align: left;}

    .name input, .contact input {
        font-size: medium;
        border-radius: 11px;
        
    
    }
    
    .name div, .contact div {
       
    }
    




    #logout2{
        display: contents;
    }
    






    .tabs div {
     display: none;
    }
    #info {display: block;}
    #order {display: block;}
    #wishlist {display: block;}

 
 .imgD img{

}

    .section {
        display: block;
    }
 }


 /* others */

 .others h3 {
    margin-bottom: 0;
 }

 .card {
    display: inline-grid;
    padding:  3%;
    margin: 2% auto auto;
 }
























 /* nnnnnnnnn */




 

.head {
    display: flex;
    margin: 50px auto ;
    background-color: rgb(16, 19, 17);
    padding: 100px 0;
}


.name {
    display: inline;
    justify-content: center;
    margin: auto 10px;
}


.top {
    border: 1px #ffffff solid;
    border-width: 0 0 1px 0 ;

}


.top .img {
    width: 200px;
    justify-content: center;

    margin: auto 10px;
}

.img img {
    width: 100%;
}


.layout {
    display: grid;
    grid-template-columns: auto 20%;
    margin: 10px;
    width: 100%;
    text-align: left;

}

.list {
    text-align: left;
    margin: auto 10px;
    display: block;


}

.list ul {
    display: flex;
}

.matches {
    text-align: left;
    display: grid;
    grid-template-columns: auto 50%;


}

.matches h2 {
    margin: 10px 0;
}

.result > div {
    position: relative;
    top: 7px;
    text-align: left;
}

.result > div, .fixture > div {

    justify-items: flex-start;
}

/* standing */



.standing {
    margin: 10px;
}

.result, .fixture {
    margin: 10px;
}



/* form */

.form {
    margin: 10px;
}



/* .news {
    display: flex;
} */


/* right */



/* other team */


.otherTeams {
    display: block;
    margin: 10px;
}


.listT {
    margin-bottom: 5px;
    display: inline-flex;
}



.listT img {
    width: 20px;
    margin-right: 5px;

}



/*  team fix */

.teamFix {
    text-align: left;
    margin: 10px;
}



.fix {
    flex-wrap: wrap;
    justify-content: space-evenly;

    display: grid;
    grid-template-columns: auto 70%;

    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    justify-items: flex-start;
}

.fix .fixture {
    width: 90%;
}


/* team results  */


.teamRes {
    text-align: left;
    margin: 10px;
}


.res {
    flex-wrap: wrap;
    justify-content: space-evenly;

    display: grid;
    grid-template-columns: auto 70%;

    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    justify-items: flex-start;
}

.res .result {
    width: 90%;
}


/* team news */

.teamNews {
    text-align: left;
    margin: auto 20px;
}
.top {
    margin: 10px auto;
}




/* team squad  */
.squads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    display: grid;
    grid-template-columns: auto 70%;

    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    justify-items: flex-start;
}

.listS {
    text-align: left;
    display: inline-flex;
    background-color: rgb(35, 51, 46);
    padding: 10px 5px;
    width: 90%;
    margin: 10px;
}

.listS h3, .listS h1 {
    display: inline-flex;
    text-align: left;
}
.info {
    margin: auto 5px;
}

.name {
    margin: auto 0;
}

.number {
    justify-content: center;
    margin: auto 5px ;
}

.listS img, .listS .img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}









/* team admin */

.teamAdmin {
    text-align: left;
}

.teamadminmenu {
    margin: 10px;

}

.teamadminmenulist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}


@media (max-width: 900px) {
    .fix, .res, .squads {
        grid-template-columns: repeat(2, 1fr);

    }
}






@media (max-width: 700px) {
    

    .head {
        display: block;
        padding: 40px 0;
    }
    .name {
        display: block;
        text-align: center;
        margin: auto ;
    }
    
    .top .img {
        width: 200px;
        display: block;
        justify-content: center;
    
        margin: auto ;
    }
    .list {
        font-size: small;
    }

    .list li {
        margin: 5px;
        padding: 0;
    }

    .listS .img {
        margin: auto 3px auto 0;
    }

    .listS .name {
        margin: auto 2px;
    }
    
    
    



    .layout {
       display: block;
    }

    .matches {
        display: block;
    }

    .result, .fixture {
        margin: 10px;
    }
 }


 @media (max-width: 610px) {
    .fix, .res, .squads {
        grid-template-columns: repeat(1, 1fr);

    }
}



@media (max-width: 400px) {

    .name {
        font-size: small;
    }

    .number {
        font-size: x-small;
        margin: auto 2px;
    }

    .pos {
        font-size: small;
    }

    .listS img, .listS .img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

}