

.head {
    display: flex;
    margin: 50px auto ;
}


.name {
    display: inline;
    justify-content: center;
    margin: auto 10px;
}



.img {
    width: 200px;
    justify-content: center;

    margin: auto 10px;
}

.img img {
    width: 100%;
}


.layout {
    display: grid;
    grid-template-columns: auto 20%;
    margin: 10px;
    width: 100%;
    text-align: left;

}

.list {
    text-align: left;
    margin: auto;
}

.list ul {
    display: flex;
}

.matches {
    text-align: left;
    display: grid;
    grid-template-columns: auto 50%;


}

.matches h2 {
    margin: 10px 0;
}

.result > div {
    position: relative;
    top: 7px;
    text-align: left;
}

.result > div, .fixture > div {

    justify-items: flex-start;
}

/* standing */

.standing  div:first-child {

    justify-items: flex-start;
}

.standing {
    margin: 10px;
}

.result, .fixture {
    margin: 10px;
}



/* form */

.form {
    margin: 10px;
}



/* .news {
    display: flex;
} */


/* right */



/* other team */


.otherTeams {
    display: block;
}

.listT *{
    display: inline;
}

.listT {
    margin-bottom: 5px;
}

.listT img {
    width: 20px;
    margin-right: 1px;

}




/* team news */

.teamNews {
    text-align: left;
    margin: auto 20px;
}
.top {
    margin: 10px auto;
}

@media (max-width: 700px) {
    

    .head {
        display: block;
    }
    .name {
        display: block;
        text-align: center;
        margin: auto ;
    }
    
    
    
    .img {
        width: 200px;
        display: block;
        justify-content: center;
    
        margin: auto ;
    }


    .layout {
       display: block;
    }

    .matches {
        display: block;
    }

    .result, .fixture {
        margin: 10px;
    }
 }
